.navbar {
  padding: 15px;
}

.navbar-brand img {
  width: 50px;
}

#main-title {
  text-align: center;
  margin: 15px 0 30px 0;
}

/* HOME */
#contacts-table {
  max-width: 800px;
  margin: 0 auto;
}

#contacts-table thead {
  color: #fff;
  background-color: #007bff;
}

#contacts-table .actions {
  text-align: right;
}

#empty-list-text {
  text-align: center;
}

#msg {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

/* SHOW CONTACT */

#view-contact-container {
  max-width: 500px;
  margin: 0 auto;
}

#back-link-container {
  display: block;
  width: 500px;
  margin: 30px auto 0;
}

#back-link {
  text-decoration: none;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}

#back-link:hover {
  background-color: #007bff;
  color: #fff;
}

/* EDIT/CREATE CONTACT */

#create-form,
#edit-form {
  max-width: 500px;
  margin: 0 auto;
}

#create-form .form-group,
#edit-form .form-group {
  margin-bottom: 20px;
}

/* MOBILE */

@media (max-width: 768px) {
  #home-link {
    display: none;
  }
}
